:root {
    --dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish: hsl(303, 10%, 53%);
    --light-grayish: hsl(300, 24%, 96%);
}

html::before,
html::after {
  position: absolute;
  opacity: 0.3;
}

html::before {
  content: url('../assets/images/bg-pattern-top-mobile.svg');
}

@media screen and (min-width: 768px) {
  html::before {
    content: url('../assets/images/bg-pattern-top-desktop.svg');
  }
}

html::after {
  content: url('../assets/images/bg-pattern-bottom-mobile.svg');
  position: fixed;
  bottom: -20%;
  right: 0;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  html::after {
    content: url('../assets/images/bg-pattern-bottom-desktop.svg');
  }
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    padding: 0 20px;
    background-color: #fff;
}

@media screen and (min-width: 768px) {

    body {
        max-width: 1350px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        justify-items: end;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 800px);
      }
  }

.header {
    text-align: center;
    padding: 90px 10px 30px;
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    .header {
      text-align: left;
      font-size: 1.4rem;
      font-weight: 700;
      grid-column: 1/2;
    }
  }

.header__title {
    color: var(--dark-magenta);
    font-weight: 700;
}

.header__subtitle {
    color: var(--dark-grayish);
    font-weight: 400;
}

.rates {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .rates {
      margin-top: 100px;
      grid-column: 3/4;
    }
  }

.rated {
    background-color: var(--light-grayish);
    padding: 10px 30px;
    margin: 15px 0;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    .rated {
      display: flex;
      align-items: center;
      justify-content: start;
      width: 500px;
      position: relative;
    }
  
    .rated:first-child {
      left: -150px;
    }
  
    .rated:nth-child(2) {
      left: -75px;
    }

    .rated__start {
        margin-right: 15px;
    }
  }

.rated__start {
    width: 20px;
    height: 20px;
}


.rated__text {
    display: block;
    margin-top: 10px;
    color: var(--dark-magenta);
    font-weight: 700;
}

.last-rated {
    margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .testimonials {
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: space-between;
      grid-column: 1 / 4;
      grid-row: 2;
    }
  }

.testimonial {
    background-color: var(--dark-magenta);
    border-radius: 5px;
    padding: 20px 5px;
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .testimonial {
      margin-bottom: 0;
      margin-top: -200px;
      width: 400px;
      margin:  15px 20px 0 20px;
      position: relative;
    }
  
    .testimonial:nth-child(2) {
      top: 25px;
    }
  
    .testimonial:last-child {
      top: 50px;
    }
  }

.testimonal__header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial__photo {
    display: block;
    border-radius: 50%;
    max-width: 25%;
}

.testimonial__author {
    margin-left: 20px;
}

.testimonial__title {
    color: #fff;
    margin: 0;
    font-size: 18px;
}

.testimonial__subtitle {
    color: var(--soft-pink);
    margin: 5px 0;
}

.testimonial__text {
    color: #fff;
    line-height: 1.5;
}